body {
  min-width: 320px;
  > .site {
    overflow: hidden;
  }
}

.wrapper {
  padding-top: 0;
}

.social {
  list-style: none;
  margin:     0 -5px;
  padding:    0;
  li {
    margin:      5px;
    display:     inline-block;
    line-height: 1;
  }
}

.btn {
  text-decoration: none;
}

ul.menu {
  list-style: none;
  margin:     0;
  padding:    0;
  &.horizontal {
    li {
      display: inline-block;
    }
  }
}

.entry-content .alignwide {
  margin-left:  -80px;
  margin-right: -80px;
}

.entry-content .alignfull {
  margin-left:  calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  max-width:    100vw;
  width:        100vw;
}

.pt {
  padding-top: 80px;
}
.pb {
  padding-bottom: 80px;
}
@include media-breakpoint-down(sm) {
  .pt {
    padding-top: 60px;
  }
  .pb {
    padding-bottom: 60px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

ul.links {
  list-style: none;
  margin:     0;
  padding:    0;
  li {
    a {
      display: flex;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $c-border;
      color: $c-text;
      text-decoration: none;
      font-weight: 500;
      justify-content: space-between;
      align-items: center;
      transition: all 200ms ease;
      i {
        margin-right: 20px;
        transition: inherit;
      }
      &:hover {
        color: $primary;
        i {
          margin-right: 0;
        }
      }
    }
    &:first-child {
      a {
        border-top: 1px solid $c-border;
      }
    }
  }
}
