.navbar {
  background-color: rgba(0,0,0,0.6);
  padding: .7rem 1rem;
  @include media-breakpoint-down(md){
    background-color: #FFF;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
  }
  &.navbar-dark {
    .navbar-nav{
      .nav-link {
        color: #FFF;
      }
    }
  }
  .navbar-nav{
    .nav-link {
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: $primary;
        transition: all 300ms ease;
      }
    }

    .menu-item:hover, .current-menu-item, .current-menu-parent {
      > .nav-link:before {
        left: 0;
        width: 100%;
      }
    }
  }
  &.navbar-expand-md {
    .navbar-nav {
      .nav-link {
        padding-left: 0;
        padding-right: 0;
        margin-left: .5rem;
        margin-right: .5rem;
      }
    }
  }
}

.navbar-brand {
  height: 50px;
  img {
    max-height: 100%;
    width: auto;
    &.mobile-logo {
      display: none;
    }
    @include media-breakpoint-down(md){
      &.mobile-logo {
        display: block;
      }
      &.custom-logo {
        display: none;
      }
    }
  }
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 10px;
  .btn-link {
    color: #FFF;
  }
  .account {
    padding-left: 20px;
    border-left: 1px solid rgba(255,255,255,0.4);
    .btn:first-child {
      margin-right: 7px;
    }
  }
}

.main-nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#navbarNavDropdown {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid rgba(255,255,255,0.4);
}

.search-trigger {
  font-size: 0;
  color: #FFF;
  padding: 7px 0px;
  svg path {
    transition: all 150ms ease;
  }
  @include media-breakpoint-down(md) {
    svg path {
      fill: #212121;
    }
  }
  &:hover {
    svg path {
      fill: $primary
    }
  }
}

@include media-breakpoint-down(md){
  .offcanvas-collapse {
    position: fixed;
    z-index: 10000;
    top: 72px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
    display: block !important;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}
